* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%),
		url("https://images.unsplash.com/photo-1501139083538-0139583c060f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.start-screen,
.score-container {
	position: relative;
	max-width: 600px;
	width: 100%;
	height: 36vh;
	min-height: max-content;
	margin: 32vh auto;
	box-shadow: 0 0 80px rgba(0, 0, 0, 1), 0 0 0 16px rgba(152, 236, 255, 0.1);
	border-radius: 12px;
	transition: 0.3s;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
button {
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 0.9em;
}
h1 {
	color: #fff;
}
#start-button,
#restart {
	font-size: 1.3em;
	padding: 0.5em 1.8em;
	border-radius: 0.2em;
	background-color: #029cda;
	color: #fff;
	transform: translateY(20px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#restart {
	margin-top: 0.9em;
}
#display-container {
	background-color: #fff;
	padding: 3.1em 1.8em;
	width: 80%;
	max-width: 37.5em;
	margin: 0 auto;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	box-shadow: 0 0 80px rgba(0, 0, 0, 1), 0 0 0 16px rgba(152, 236, 255, 0.2),
		inset -5px -5px 5px rgba(255, 255, 255, 0.5),
		-5px -5px 5px rgba(255, 255, 255, 0.5);
	border-radius: 1em;
}
.header {
	margin-bottom: 1.8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.6em;
	border-bottom: 0.1em solid #c0bfd2;
}
.timer-div {
	background-color: #e1f5fe;
	width: 7.5em;
	border-radius: 1.8em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7em 1.8em;
}
#container {
}
.question {
	margin-bottom: 1.25em;
	font-weight: 600;
}
.option-div {
	font-size: 0.9em;
	width: 100%;
	padding: 1em;
	margin: 0.3em 0;
	text-align: left;
	outline: none;
	background: transparent;
	border: 1px solid #c0bfd2;
	border-radius: 0.3em;
}
.option-div:disabled {
	color: #000000;
	cursor: not-allowed;
}
#next-button {
	font-size: 1em;
	margin-top: 1.5em;
	background-color: #8754ff;
	color: #ffffff;
	padding: 0.7em 1.8em;
	border-radius: 0.3em;
	float: right;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}
.hide {
	display: none;
}
.incorrect {
	background-color: #ffdde0;
	color: #d32f2f;
	border-color: #d32f2f;
}
.correct {
	background-color: #e7f6d5;
	color: #689f38;
	border-color: #689f38;
}
#user-score {
	font-size: 1.5em;
	color: #ffffff;
}
